<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEope29w4-BbdaGGf2n_vKsQQ8vAUrF5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>14907450847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quiz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-a4df5</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-a4df5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14907450847:ios:173a2f6065a9fbaf6c506a</string>
</dict>
</plist>